<%- include('partials/header') %>

<title>SecretsBook Login</title>
<form action="/login" class="form-signin" method="post">
  <i class="fas fa-key fa-6x"></i>
<h1 class="h3 mb-3 font-weight-normal">Log in</h1>
<input type="email" name="username"class="form-control middle" placeholder="Email address" required>
<input type="password" name="password" class="form-control bottom" placeholder="Password" required>
<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
<p class="mt-5 mb-3 text-muted">Don't have an account? <a href="/register"  style="text-decoration:none">Sign Up here</a></p>
<p class="mt-5 mb-3 text-muted">OR</p>
<a href="/auth/google" role="button" style="text-decoration:none">
  <i class="fab fa-google" width="300" height="250"></i>
  Sign in with Google
</a>
<p class="mt-5 mb-3 text-muted">&copy; 2020 BadalSherpa</p>
</form>



<%- include('partials/footer') %>
